.title-ctnr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    div {
        display: flex;
        align-items: center;
        gap: .5rem;

        p {
            margin: 0;
            background: #383838;
            padding: 0 .5rem;
            text-transform: capitalize;
            border-radius: .25rem;
        }
    }
}

.feedback {
    position: fixed;
    top: 2.5rem;
    right: 75%;
    text-align: center;
    background: black;
    padding: .5rem 1rem;
    border-radius: .25rem;
}